<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Image Classifier</title>
</head>
<body>
    <h1>Upload an Image for Classification</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" id="imageInput" required>
        <br>
        <div class="image-container">
            <img id="imagePreview" src="#" alt="Selected Image" style="display: none;" height="200px">
        </div>
        <br>
        <button type="submit">Upload</button>
    </form>

    <% if (label) { %>
        <h2><span> Predicted Class:</span><%= label %></h2>
    <% } %>

    <script>
        document.getElementById("imageInput").addEventListener("change", function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const preview = document.getElementById("imagePreview");
                    preview.src = e.target.result;
                    preview.style.display = "block";
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
</body>
</html>
