body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #222;
}

form {
    margin-top: 20px;
}

input[type="file"] {
    padding: 10px;
    margin: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    font-size: 2em;
    color: #28a745;
    margin-top: 20px;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color: crimson;
}